/*Designed by Sandra Ashipala 28.01.2023 for FVM Hackathon https://linkedin.com/in/sandraashipala */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-weight: "Poppins" sans-serif;
    @apply text-primaryColor;
}


:root {
    --black-gradient: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  }
  
  * {
    scroll-behavior: smooth;
  }

  .vid_container{
    display: flex;
    justify-content: center;
}

.vid_card iframe{
    height: 324px;
    width: 525px;
    border-radius: 5px;
}

.vid_text {
  font-size: 32px;
  justify-content: center;
  text-align: center;
}


.team_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.team_card{
  margin: 6px;
  height: 180px;
  width: 280px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00040f;
  background-image: linear-gradient(to right, #00f6ff 0%, #fe7a15 100%);
  transition: 0.3s ease-in;
}

.mint_card{

  height: 280px;
  width: 380px;
  border-radius: 4px;

  transition: 0.3s ease-in;
}

.team_card h2{
  text-align: center;
}

.team_btn{
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.team_card button{
  color: #000;
  padding: 6px 20px;
  outline: none;
  border-radius: 4.7px;
  background: #b1edff;
}

.team_card button:hover{
  cursor: pointer;
}

.team_card:hover{
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.bi-github {
  display: inline-block;
  vertical-align: -.125em;
}
      .project_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 50%;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 30px;
    }
  
  .text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #d4fecc 0.89%,
      #a9ff99 17.23%,
      #7eff66 42.04%,
      #53ff33 55.12%,
      #20cc00 71.54%,
      #189900 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .bg-green-gradient {
    background: linear-gradient(
      157.81deg,
      #d4fecc -43.27%,
      #a9ff99 -21.24%,
      #7eff66 12.19%,
      #53ff33 29.82%,
      #20cc00 51.94%,
      #189900 90.29%
    );
  }
  
  .bg-black-gradient {
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }
  
  .bg-black-gradient-2 {
    background: linear-gradient(
      -168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  }
  
  .bg-gray-gradient {
    background: linear-gradient(
      153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%
    );
  }
  
  .bg-discount-gradient {
    background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  }
  
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .feature-card {
    background: var(--black-gradient);
    box-shadow: var(--card-shadow);
  }

  .feature-card:hover {
    cursor: pointer;
  }
  
  .feedback-container .feedback-card:last-child {
    margin-right: 0px;
  }
  
  .feedback-card {
    background: transparent;
  }
  
  .feedback-card:hover {
    background: var(--black-gradient);
  }
  
  .blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
  }
  
  .pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
  }
  
  .white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
  }

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  

  .item {
  
    margin-bottom: 5px;
    padding: 10px 20px;
  }

  .title {
    color: #fff;
  }

  .content{
    color: #000;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
  }

  .content.show{
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
  }